body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:570px;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:69px;
  width:1380px;
  height:570px;
  display:flex;
}
#u7036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:400px;
}
#u7037 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3286px;
  width:686px;
  height:400px;
  display:flex;
}
#u7037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:689px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7039_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:100px;
  width:22px;
  height:30px;
  display:flex;
}
#u7039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7040_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:695px;
  width:22px;
  height:30px;
  display:flex;
}
#u7040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:697px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7042_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:100px;
  width:22px;
  height:30px;
  display:flex;
}
#u7042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7043_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:734px;
  width:22px;
  height:30px;
  display:flex;
}
#u7043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:736px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:774px;
  width:22px;
  height:30px;
  display:flex;
}
#u7045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:776px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:139px;
  width:22px;
  height:30px;
  display:flex;
}
#u7047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7048_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:139px;
  width:22px;
  height:30px;
  display:flex;
}
#u7048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7049_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:814px;
  width:22px;
  height:30px;
  display:flex;
}
#u7049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:816px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:668px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1287px;
  width:940px;
  height:668px;
  display:flex;
}
#u7051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1241px;
  width:689px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7053_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1276px;
  width:22px;
  height:30px;
  display:flex;
}
#u7053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2245px;
  width:22px;
  height:30px;
  display:flex;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2247px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7056_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1343px;
  width:22px;
  height:30px;
  display:flex;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7057_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2285px;
  width:22px;
  height:30px;
  display:flex;
}
#u7057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2287px;
  width:1352px;
  height:84px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:210px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:2377px;
  width:378px;
  height:210px;
  display:flex;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7060_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:1411px;
  width:22px;
  height:30px;
  display:flex;
}
#u7060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7061_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2591px;
  width:22px;
  height:30px;
  display:flex;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2593px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:43px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:2640px;
  width:663px;
  height:43px;
  display:flex;
}
#u7063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:1438px;
  width:22px;
  height:30px;
  display:flex;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7065_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2693px;
  width:22px;
  height:30px;
  display:flex;
}
#u7065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2695px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7067_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1513px;
  width:22px;
  height:30px;
  display:flex;
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7068_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2733px;
  width:22px;
  height:30px;
  display:flex;
}
#u7068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2735px;
  width:1352px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:152px;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:2811px;
  width:949px;
  height:152px;
  display:flex;
}
#u7070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7071_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1513px;
  width:22px;
  height:30px;
  display:flex;
}
#u7071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7072_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2994px;
  width:22px;
  height:30px;
  display:flex;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2996px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7073 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7074_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:1574px;
  width:22px;
  height:30px;
  display:flex;
}
#u7074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7075_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3034px;
  width:22px;
  height:30px;
  display:flex;
}
#u7075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3036px;
  width:1352px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:315px;
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:1914px;
  width:925px;
  height:315px;
  display:flex;
}
#u7077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7078_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1925px;
  width:22px;
  height:30px;
  display:flex;
}
#u7078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7079_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7079 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3104px;
  width:22px;
  height:30px;
  display:flex;
}
#u7079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7080 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3106px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:170px;
}
#u7081 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1955px;
  width:836px;
  height:170px;
  display:flex;
}
#u7081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7082 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3242px;
  width:689px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7082 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:400px;
}
#u7083 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:3286px;
  width:689px;
  height:400px;
  display:flex;
}
#u7083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:144px;
}
#u7084 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:3409px;
  width:558px;
  height:144px;
  display:flex;
}
#u7084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7085_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:3379px;
  width:22px;
  height:30px;
  display:flex;
}
#u7085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7086_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7086 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3694px;
  width:22px;
  height:30px;
  display:flex;
}
#u7086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3696px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7088_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:3352px;
  width:22px;
  height:30px;
  display:flex;
}
#u7088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7089_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7089 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3734px;
  width:22px;
  height:30px;
  display:flex;
}
#u7089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3736px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4262px;
  width:1580px;
  height:40px;
  display:flex;
}
#u7091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:659px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:168px;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:919px;
  width:1270px;
  height:168px;
  display:flex;
}
#u7093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7094_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:1026px;
  width:22px;
  height:30px;
  display:flex;
}
#u7094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7095_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1097px;
  width:22px;
  height:30px;
  display:flex;
}
#u7095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1099px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7097_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:894px;
  width:22px;
  height:30px;
  display:flex;
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7098_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1137px;
  width:22px;
  height:30px;
  display:flex;
}
#u7098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1139px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:210px;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:3710px;
  width:556px;
  height:210px;
  display:flex;
}
#u7100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7101_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:3836px;
  width:22px;
  height:30px;
  display:flex;
}
#u7101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7102_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3774px;
  width:22px;
  height:30px;
  display:flex;
}
#u7102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3776px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7104_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:139px;
  width:22px;
  height:30px;
  display:flex;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:854px;
  width:22px;
  height:30px;
  display:flex;
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:856px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:234px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:3988px;
  width:1126px;
  height:234px;
  display:flex;
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3954px;
  width:689px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7109_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:4054px;
  width:22px;
  height:30px;
  display:flex;
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7110_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:4232px;
  width:22px;
  height:30px;
  display:flex;
}
#u7110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:4234px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7112_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:2164px;
  width:22px;
  height:30px;
  display:flex;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:40px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:3144px;
  width:22px;
  height:30px;
  display:flex;
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:3146px;
  width:1352px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u7114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
